.wrapper {
    min-height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    transition: background-color .5s;
    cursor: pointer;
}

.wrapper:hover {
    background-color: #f6f6f6 !important;
}

.image {
    height: 49px;
    width: 49px;
    border-radius: 50%;
}

.displayPictureContainer {
    padding: 0 15px 0 13px;
}

.detailsContainer {
    flex: 1;
    border-bottom: 1px solid #f2f2f2;
    height: 72px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.nameContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nameContainer h2 {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: normal;
}

.nameContainer span {
    font-size: .8rem;
}

.textContainer {
    align-items: flex-start;
    display: flex;
}

.textContainer p {
    margin: 0;
    padding: 0;
    padding-left: 2px;
    font-size: .8rem;
}

.statsContainer {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.muteButton {
    margin-right: 5px;
    margin-top: 3px;
}

.messageCount span {
    border-top-right-radius: 1.1rem;
    border-bottom-right-radius: 1.1rem;
    border-bottom-left-radius: 1.1rem;
    border-top-left-radius: 1.1rem;
    font-size: .75rem;
    color: #fff;
    font-weight: 500;
    /* padding: 0.4em 0.3em; */
    padding: 0.2em 0.6em;
    background-color: #06d755;
    display: inline-block;
    text-align: center;
}

.optionsButton {
    display: none;
}