.wrapper {
    min-height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
}

.image {
    height: 49px;
    width: 49px;
    border-radius: 50%;
}

.displayPictureContainer {
    padding: 0 15px 0 13px;
}

.detailsContainer {
    flex: 1;
}

.notificationContainer {
} 

.nameContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nameContainer h2 {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: normal;
}

.nameContainer span {
    font-size: .8rem;
}

.messageCount {
    float: right;
    display: none
}

.textContainer p {
    margin: 0;
    padding: 0;
    font-size: .8rem;
}