.wrapper {
   height: 49px;
}

.inputContainer {
    position: relative;
    margin-left: 40px;
}

.searchinput {
    width: 80%;
    height:35px;
    border-radius: 18px;
    outline: none;
    border: none;
    padding-left: 10px;

}

.searchIcon {
    position: absolute;
    left: 1%;
    top: 12%;
}

.backIcon {
    position: absolute;
    left: 1%;
    top: 12%;
    display: none;
}