.wrapper {
   height: 49px;
   position: relative;
}

.inputContainer {
    margin-left: 40px;
}

.searchinput {
    width: 96%;
    height:35px;
    border-radius: 18px;
    outline: none;
    border: none;
    padding-left: 15%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.searchIcon {
    position: absolute;
    left: 3%;
    top: 29%;
}

.backIcon {
    position: absolute;
    left: 3%;
    top: 29%;
    display: none;
}