.wrapper {
    width: 0%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    transition: width .1s;
}

.contentContainer {
    transform: translateY(-130%);
    overflow-y: auto;
    transition: transform .5s;
}

.contentContainer::-webkit-scrollbar {
    width: 6px;
  }
  
.contentContainer::-webkit-scrollbar-track {
    background: none;
}

.contentContainer::-webkit-scrollbar-thumb {
    background: #c5c4c1; 
}


.header {
    height: 59px;
    border-left: 1px solid rgb(218, 218, 218);
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 16px;
}

.closeIcon {
    width: 54px;
    cursor: pointer;
}

.headerText p {
    padding: 0;
    margin: 0;
    margin-bottom: 6px;
}

.basicInfo {
    padding: 28px 30px 19px;
    text-align: center;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(11,20,26,0.08);
}

.basicInfo h4 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 400;
}

.basicInfo p {
    margin-top: 5px;
}

.image {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    cursor: pointer;
    margin-bottom: 15px;
}

.image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.about {
    margin-bottom: 10px;
    padding: 17px 30px 19px 30px;
    box-shadow: 0 1px 3px rgba(11,20,26,0.08);
}

.about p {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 1.1rem;
}

.aboutHeader span {
    font-size: .9rem;
}

.links {
    font-size: .9rem;
    margin-bottom: 10px;
    padding: 17px 30px 19px 30px;
    box-shadow: 0 1px 3px rgba(11,20,26,0.08);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linksDetails {
    display: flex;
    padding-top: 6px;
}

.number {
    margin-right: 8px;
}

.starredMessages {
    margin-bottom: 10px;
}

.contactSettings {
    margin-bottom: 10px;
}

.boxContainer {
    padding: 17px 30px 19px 30px;
    box-shadow: 0 1px 3px rgba(11,20,26,0.08);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.iconContainer {
    margin-right: 8px;
    width: 40px;
    width: 40px;
    text-align: center;
}

.textContainer {
    flex-grow: 1;
}

.boxTitle {
    font-size: 1.1rem;
    margin: 0;
}

.boxText {
    font-size: .9rem;
    margin: 0;
    padding-right: 35px;
}

.groups {
    font-size: .9rem;
    margin-bottom: 10px;
    padding: 17px 30px 19px 30px;
    box-shadow: 0 1px 3px rgba(11,20,26,0.08);
}

.contactActions {
    margin-bottom: 10px;
    padding: 17px 30px 19px 10px;
    box-shadow: 0 1px 3px rgba(11,20,26,0.08);
    color: #ea0038; /* danger */
}

.block, .report {
    display: flex;
    justify-content: center;
    align-items: center;
}

.actionIcon {
    width: 74px;
    text-align: center;
}

.actionText {
    flex-grow: 1;
}

.delete {
    color: #ea0038; /* danger */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 30px 19px 10px;
    box-shadow: 0 1px 3px rgba(11,20,26,0.08);
    margin-bottom: 40px;
}