.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chatContentBox {
    padding: 0 4rem;
    overflow-y: scroll;
}

.leftChat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin-bottom: 12px; */
}

.rightChat {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* margin-bottom: 12px; */
}