.wrapper {
    width: 100%;
    height: 96vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chatContentBox {
    padding: 0 4rem;
    overflow-y: auto;
}

.chatContentBox::-webkit-scrollbar {
    width: 6px;
  }
  
.chatContentBox::-webkit-scrollbar-track {
    background: none;
}

.chatContentBox::-webkit-scrollbar-thumb {
    background: #c5c4c1; 
}

.leftChat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin-bottom: 12px; */
}

.rightChat {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* margin-bottom: 12px; */
}