.wrapper {
    flex-basis: 30%;
    height: 96vh;
    position: relative;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
}

.contactContainer {
    overflow-y: scroll;
    height: 84.5vh;
}

.contactContainer::-webkit-scrollbar {
    width: 6px;
  }
  
.contactContainer::-webkit-scrollbar-track {
    /* background: #fff; */
    background: transparent;
}

.contactContainer::-webkit-scrollbar-thumb {
    background: #c5c4c1; 
}
