.wrapper {
    flex-basis: 30%;
    height: 100vh;
    position: relative;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
}

.contactContainer {
    overflow-y: auto;
    height: 90vh;
}

.contactContainer::-webkit-scrollbar {
    width: 6px;
  }
  
.contactContainer::-webkit-scrollbar-track {
    background: #fff;
}

.contactContainer::-webkit-scrollbar-thumb {
    background: #c5c4c1; 
}
